<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>

  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">3D-Aware Face Swapping</h1>
      <h1 class="conference">CVPR 2023</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <h3 class="institute">MoE Key Lab of Artificial Intelligence, AI Institute, Shanghai Jiao Tong University, China<br>   

      <a href="https://openaccess.thecvf.com/content/CVPR2023/papers/Li_3D-Aware_Face_Swapping_CVPR_2023_paper.pdf" class="btn" style="margin-top: 20px>Paper</a>
      <a href="https://openaccess.thecvf.com/content/CVPR2023/supplemental/Li_3D-Aware_Face_Swapping_CVPR_2023_supplemental.pdf" class="btn" style="margin-top: 20px>Supp</a>
      <a href="https://cvpr.thecvf.com/media/cvpr-2023/Slides/22645.pdf" class="btn" style="margin-top: 20px>Slide</a>
      <a href="https://github.com/lyx0208/3dSwap" class="btn" style="margin-top: 20px>Code</a>
      
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
      
    </main>
  </body>
</html>
